.w3-container {
  width: 100vw;
}

.header {
  background-color: #9B9B8D;
  height: 5vh;
  color: white;
}

.bigHeader {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  color: white;
  font-size: 2em;
  text-indent: 1em;
  background-color: #9B9B8D;
  height: 15vh;
}

h1 {
  color: #450F62;
}

@font-face {
  font-family: avenir
  src: url(.fonts/AvenirNextLTPro-regular.otf);
}

.footer {
  display: flex;
  align-items: center;
  padding: 5px;
  color: white;
  text-indent: 1em;
  background-color: #9B9B8D;
  height: 5vh;
}

.button {
  background-color: #353528;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  width: 150px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  justify-content: center;
  align-items: center;
}

#albumRow {
  background-color: #9B9B8D;
  height: 10vh;
}

#albumBin {
  background-color: #9B9B8D;
  height: 25vh;
}

#clearSubmitButtons {
  background-color: #9B9B8D;
  height: 25vh;
}

/* .body */

.row {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.column {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tracks {
  background-image: url(./resources/track.fw.png);
  background-size: 100%;
  object-fit: contain;
  opacity: 0.19;
  height: 70vh
}

.scrollmenu {
  background-color: #EEEEEE;
  overflow: auto;
  white-space: nowrap;
}

#slide {
    width: auto;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#playList {
  border-width: thick black;
  height: 20vh;
  width: 70vw;
}

container

chooseSide


trainSide


albumList
